<section id="todo-list" role="list" aria-label="Liste des tâches">
    [[if(todos.length){]]
    <ul>
        [[todos.forEach(function(todo){]]
            [[if(todo.completed){]]
            <li role="listitem" class="completed" data-id="[[=todo.id]]">
                <label>
                    <input type="checkbox" checked aria-label="Tâche [[=todo.title]] terminée" />
                    <span>[[=todo.title]]</span>
                </label>
                <button type="button" class="button alert" aria-label="Supprimer la tâche [[=todo.title]]">&cross;</button>
            </li>
            [[}else{]]
            <li data-id="[[=todo.id]]">
                <label>
                    <input type="checkbox" aria-label="Tâche [[=todo.title]] en cours" />
                    <span>[[=todo.title]]</span>
                </label>
                <button type="button" class="button alert" aria-label="Supprimer la tâche [[=todo.title]]">&cross;</button>
            </li>
            [[}]]
        [[})]]
    </ul>
    [[}else{]]
    <p role="status" aria-live="polite">Aucune tâche</p>
    [[}]]
</section>
