[[if(data_len > 0){]]
<footer>
    <span>[[= filtered_data_len ]] tâche[[= filtered_data_len > 1 ? 's' : '']]</span>
    <nav role="navigation">
        <a href="#/all" class="button[[= url === '#/all'? ' warning' : '']] ">toutes</a>
        <a href="#/pending" class="button[[= url === '#/pending'? ' warning' : '']]">en cours</a>
        <a href="#/completed" class="button[[= url === '#/completed'? ' warning' : '']]">complétées</a>
        <a href="#/clear" class="button[[= url === '#/clear'? ' warning' : '']]">effacer</a>
    </nav>
</footer>
[[}]]
